.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HTTP{
  background-color: gray;
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.SOCKETS{
  background-color: rgb(188, 176, 176);
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.Conexões{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  justify-content: center;
  background-color: rgb(181, 186, 186);
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;

}

.metodos{
  display: flex;
  gap: 10px;
  flex-grow: 1;
  justify-content: space-between;
  background-color: rgb(222, 163, 163);
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}
.conexao{
  display: flex;
  flex-direction: column;
  gap: 10px; 
  justify-content: space-between;
  height: 60vh;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.persistencia{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  justify-content: center;
  background-color: rgb(181, 186, 186);
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.conteudo{
  display: flex;
  flex-wrap: wrap ;
  
  flex-direction: row;
  gap: 10px;
  
  justify-content: space-between;
  background-color: rgb(151, 228, 228);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.dados{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  justify-content: center;
  background-color: rgb(216, 164, 164);
  height: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.ReactComponente{
  
  
  
  background-color: rgb(173, 216, 164);
  
  border: 1px solid black;
  border-radius: 8px;
  
}