.App {
  text-align: center;
  color: aliceblue;
}

.connect{
  display: flex;
  flex-direction: column;
  gap: 10px; 
  justify-content: center;
  
  /* border: 1px solid black; */
  border-radius: 8px;
  padding: 8px;
  cursor: pointer
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appName{
  font-style: italic;
  font-size: 100px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
  margin: 50px;
  padding: 20px;
  background: rgba(96, 83, 83, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
transition: all 1s ease ;

/* border: 1px solid rgba(96, 83, 83, 0.56); */
}
.hide{
 
  transition: all 1s ease ;
  display: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HTTP{
  background-color: gray;
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  /* From https://css.glass */
background: rgba(96, 83, 83, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(96, 83, 83, 0.56);
}

.SOCKETS{
  background-color: rgb(188, 176, 176);
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  /* From https://css.glass */
background: rgba(96, 83, 83, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(96, 83, 83, 0.56);
}

.Conexões{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  justify-content: center;
  background-color: rgb(181, 186, 186);
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  /* From https://css.glass */
background: rgba(96, 83, 83, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(96, 83, 83, 0.56);

}

.metodos{
  display: flex;
  gap: 10px;
  flex-grow: 1;
  justify-content: space-between;
  background-color: rgb(222, 163, 163);
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  /* From https://css.glass */
background: rgba(96, 83, 83, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(96, 83, 83, 0.56);
}
.conexao{
  display: flex;
  flex-direction: column;
  gap: 10px; 
  justify-content: space-between;
  height: 60vh;
  
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  
}

.persistencia{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  justify-content: center;
  background-color: rgb(181, 186, 186);
  width: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  /* From https://css.glass */
background: rgba(96, 83, 83, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(96, 83, 83, 0.56);
}

.logo{
  width: 50px;
  height: 50px;
  
}


.conteudo{
  display: flex;
  flex-wrap: wrap ;
  height: 100vh;
  flex-direction: row;
  gap: 10px;
  
  justify-content: space-between;
  background-color: rgb(151, 228, 228);
  
  box-sizing: border-box;
  /* border: 1px solid black; */
  /* border-radius: 8px; */
  padding: 8px;
  cursor: pointer;
  /* From https://css.glass */
/* background: url('./D4Ll.gif'); */
background: url('./dark-background-abstract-background-network-3d-background-6016x3384-8324.png');

background-repeat: no-repeat;
background-size: 100% 100%;

  /* From https://css.glass */
/* background: rgba(96, 83, 83, 0.39); */
/* border-radius: 16px; */
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
/* backdrop-filter: blur(11px); */
/* -webkit-backdrop-filter: blur(11px); */

}

.dados{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(212, 127, 127);
  width:  fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
 /* From https://css.glass */
background: rgba(96, 83, 83, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(96, 83, 83, 0.56);
  
  cursor: pointer;
}

.ReactComponente{
  
  
  
  background-color: rgb(173, 216, 164);
  
  border: 1px solid black;
  border-radius: 8px;
  /* From https://css.glass */
background: rgba(96, 83, 83, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(96, 83, 83, 0.56);
  
}