.MessagensOnServer{
    display: flex;
    flex-direction: column;
    gap: 10px;
   width: 90%;

    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}
.title{
    margin: 0;
    padding: 0;
}

.subtitle{
    color: gray;
    margin: 0;
    padding: 0;
    font-size: small;
}


.text{
    font-size: larger;
    font-weight: bold;
    text-align: end;
    margin: 0;
    padding: 0;

}