.MessagensOnDB{
    display: flex;
    flex-direction: column;
    gap: 10px;
   width: 90%;
   
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    /* From https://css.glass */
background: rgba(96, 83, 83, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(96, 83, 83, 0.56);
}
.title{
    margin: 0;
    padding: 0;
}

.subtitle{
    color: gray;
    margin: 0;
    padding: 0;
    font-size: small;
}

.message{
    margin: 0;
    padding: 0;
}
.text{
    font-size: larger;
    font-weight: bold;
    text-align: end;
    margin: 0;
    padding: 0;
}

.list{
    margin: 0;
    padding: 0;
    height: 20vh;
    /* width: 100%; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* text-decoration: none; */
    list-style: none;
}