.ReceptorSockets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    /* From https://css.glass */
background: rgba(96, 83, 83, 0.39);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(96, 83, 83, 0.56);
}